@model IEnumerable<Beerswap.Models.BeerPosting>
@{
    ViewBag.Title = "Beer Postings";
}

<div class="the-barrel">
    <img src="../images/barrel-fittyper.jpg" />
</div>

<div class="container-fluid">

    <!--Button to Create Beer Posting-->
    <div class="start-posting">
        <p>Have some beers you'd like to spread the word about?
        Get started finding their new home right here, right now.</p>
        <button class="btn btn-info" data-toggle="modal" data-target="#list-modal">Add Beer Posting</button>
    </div>
    <div class="see-postings">

        <!--To list the beer postings-->

        @foreach (var listing in Model)
        {
            <div class="indiv-postings">

                <!--Swap Proposal Form-->

                <div id=@($"swap-modal{listing.BeerPostingID}") role="dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("CreateSwapOffer", "Posting", FormMethod.Post, new { id = "swapForm" + listing.BeerPostingID }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("post-id", listing.BeerPostingID as Object)
                                @Html.Hidden("posting-user-id", listing.OwnerId as Object)
                                @Html.Hidden("original-beer", listing.BeerName as Object)
  
                                @Html.Hidden("swap-id", ViewBag.CurrentSwapId as object)
                                <div class="modal-header">Create New Swap Offer @ViewBag.CurrentPostId</div>
                                <div class="modal-body">Beer Name @Html.TextBox("swap-beer-name")</div>
                                <div class="modal-body">Quantity Offered @Html.TextBox("swap-quantity-offered")</div>
                                <div class="modal-body">Quantity Wanted @Html.TextBox("swap-quantity-wanted")</div>
                                <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                            }
                        </div>
                    </div>
                </div>
                @*@if (listing.OwnerId == null)
                {
                @Html.TextBox("listing.Owner", "no new user")
                }
                @if (listing.OwnerId != null) 
                {
                    <div class="brellolist-header">@listing.OwnerId</div>
                }*@

                <!--Beer Posting Fields Displayed-->

                @*<div>@listing.BeerPostingID</div>*@
                <div class="brellolist-header beer-name"> @listing.BeerName</div>
                <div class="brellolist-header"><span>Qty Available:</span> @listing.Quantity</div>
                <div class="brellolist-header"><span>Note:</span> @listing.Note</div>
                <div class="brellolist-header"><span>Posting Accepted?</span> @listing.PostingAccepted</div>
                <button class="btn btn-warning propose-button" data-toggle="modal" data-target=@($"#swap-modal{listing.BeerPostingID}")>Propose Swap</button>
                <div class="beerposting">
                    <ul class="center"></ul>
                </div>
                <div class="beerposting-footer"></div>
            </div>
        }
        <div class="beerposting-wrapper">

            <!--Form to Create Beer Posting-->

            <div id="list-modal" role="dialog" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("CreateBeerPosting", "Posting", FormMethod.Post, new { id = "beerForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("post-id", ViewBag.CurrentPostingId as object)
                            <div class="modal-header">Add New Beer Posting @ViewBag.CurrentBeerPostingdId</div>
                            <div class="modal-body">Beer Name @Html.TextBox("beerposting-name")</div>
                            <div class="modal-body">Quantity Available @Html.TextBox("beerposting-quantity")</div>
                            <div class="modal-body">Note @Html.TextBox("beerposting-note")</div>
                            <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

