@model IEnumerable<Beerswap.Models.BeerPosting>
@{
    ViewBag.Title = "Beer Postings";
}


<div id="postingsHere" class="green container-fluid">
    <div class="row" style="display:inline-flex;">

        <!--To list the beer postings-->

        @foreach (var listing in Model)
        {
            <div class="beerposting-wrapper">

                <!--Beer Posting Editing Form in Progress-->

                <div id=@($"editing-modal{listing.BeerPostingID}") role="dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("CreateBeerPosting", "Posting", FormMethod.Post, new { id = "beerForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("post-id", ViewBag.CurrentPostingId as object)
                                <div class="modal-body">Beer Name @Html.TextBox("beerposting-name", @listing.BeerName) </div>
                                <div class="modal-body">Quantity Available @Html.TextBox("beerposting-quantity")</div>
                                <div class="modal-body">Note @Html.TextBox("beerposting-note")</div>
                                <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                            }
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" data-toggle="modal" data-target="#list-modal">Add Beer Posting</button>
            </div>
            <div class="beerposting-wrapper">

                <!--Swap Proposal Form-->

                <div id=@($"swap-modal{listing.BeerPostingID}") role="dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("CreateSwapOffer", "Posting", FormMethod.Post, new { id = "swapForm" + listing.BeerPostingID }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("post-id", listing.BeerPostingID as Object)
                                @Html.Hidden("posting-user-id", listing.OwnerId as Object)
  
                                @Html.Hidden("swap-id", ViewBag.CurrentSwapId as object)
                                <div class="modal-header">Create New Swap Offer @ViewBag.CurrentPostId</div>
                                <div class="modal-body">Beer Name @Html.TextBox("swap-beer-name")</div>
                                <div class="modal-body">Quantity Offered @Html.TextBox("swap-quantity-offered")</div>
                                <div class="modal-body">Quantity Wanted @Html.TextBox("swap-quantity-wanted")</div>
                                <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                            <!--a href="javascript:document.getElementById('logoutForm').submit()">Log off</a-->
                            }
                        </div>
                    </div>
                </div>
                @if (listing.OwnerId == null)
                {
                @Html.TextBox("listing.Owner", "no new user")
                }
                @if (listing.OwnerId != null) 
                {
                    <div class="brellolist-header">@listing.OwnerId</div>
                }

                <!--Beer Posting Fields Displayed-->

                <div>@listing.BeerPostingID</div>
                <div class="brellolist-header">@listing.BeerName</div>
                <div class="brellolist-header">@listing.Quantity</div>
                <div class="brellolist-header">@listing.Note</div>
                <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" data-popover-content=@($"#postingPopover{listing.BeerPostingID}")> popover</a>
                <div id=@($"postingPopover{listing.BeerPostingID}") class="hide">
                    <ul>
                        <li><a onclick=@($"Action('DeleteBeerPosting','PostingController', {listing.BeerPostingID})")>Delete</a></li>
                        <li><button class="btn btn-info" data-toggle="modal" data-target=@($"#editing-modal{listing.BeerPostingID}")>Edit Posting</button></li>
                        <li><button class="btn btn-info" data-toggle="modal" data-target=@($"#swap-modal{listing.BeerPostingID}")>Propose Swap</button></li>
                    </ul>
                </div>
                <button class="btn btn-info" data-toggle="modal" data-target=@($"#swap-modal{listing.BeerPostingID}")>Propose Swap</button>
                <button class="btn btn-info" data-toggle="modal" data-target=@($"#editing-modal{listing.BeerPostingID}")>Edit Posting</button>
                <button class="btn btn-info" data-toggle="modal" data-target=@($"#swap-modal{listing.BeerPostingID}")>Delete</button>
                <div class="beerposting">
                    <ul class="center"></ul>
                </div>
                <div class="beerposting-footer"></div>
            </div>
        }
        <div class="beerposting-wrapper">

            <!--Form to Create Beer Posting-->

            <div id="list-modal" role="dialog" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("CreateBeerPosting", "Posting", FormMethod.Post, new { id = "beerForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("post-id", ViewBag.CurrentPostingId as object)
                            <div class="modal-header">Add New Beer Posting @ViewBag.CurrentBeerPostingdId</div>
                            <div class="modal-body">Beer Name @Html.TextBox("beerposting-name")</div>
                            <div class="modal-body">Quantity Available @Html.TextBox("beerposting-quantity")</div>
                            <div class="modal-body">Note @Html.TextBox("beerposting-note")</div>
                            <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                        }
                    </div>
                </div>
            </div>

            <!--Button to Create Beer Posting-->

            <button class="btn btn-info" data-toggle="modal" data-target="#list-modal">Add Beer Posting</button>
        </div>

    </div>
</div>






@*@using (Html.BeginForm("Create", "BeerPosting", FormMethod.Post, htmlAttributes: new { style = "display:block;", @class = "mystyle"}))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("name")
    }*@