@model IEnumerable<Beerswap.Models.BeerPosting>
@{
    ViewBag.Title = "PostHistoryView";
}

<div id="PostHistoryList" class="green container-fluid">
    <div class="row" style="display:inline-flex;">
        @foreach (var postHist in Model)
        {
            <div class="beerposting-wrapper">

                <!--Beer Posting Editing Form-->

                <div id=@($"editing-modal{postHist.BeerPostingID}") role="dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("UpdateBeerPosting", "Posting", FormMethod.Post, new { id = "editForm" + postHist.BeerPostingID }))
                            {
                                @Html.AntiForgeryToken()
                                <!--@Html.Hidden("post-id", ViewBag.CurrentPostingId as object)-->
                                @Html.Hidden("post-id", postHist.BeerPostingID as Object)
                                <div class="modal-body">Beer Name @Html.TextBox("beerposting-name", @postHist.BeerName) </div>
                                <div class="modal-body">Quantity Available @Html.TextBox("beerposting-quantity", postHist.Quantity)</div>
                                <div class="modal-body">Note @Html.TextBox("beerposting-note", postHist.Note)</div>
                                <div class="modal-footer"><input class="btn" type="submit" value="Submit" /></div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="posts-wrapper">
                <div class="brellolist-header">@postHist.BeerName</div>
                <div class="brellolist-header">@postHist.Quantity</div>
                <div class="brellolist-header">@postHist.Note</div>
                <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" data-popover-content=@($"#postingPopover{postHist.BeerPostingID}")> popover</a>
                <div id=@($"postingPopover{postHist.BeerPostingID}") class="hide">
                    <ul>
                        @*<li><a href="#" data-target=@($"Html.Action('DeleteBeerPosting','PostingController', {postHist.BeerPostingID})")>Delete</a></li>*@
                        <li><a href="#" data-toggle="modal" data-target=@($"#editing-modal{postHist.BeerPostingID}")>Edit Posting</a></li>
                        @*<li><button class="btn btn-info" data-toggle="modal" data-target=@($"#editing-modal{postHist.BeerPostingID}")>Edit Posting</button></li>
                        <li><button class="btn btn-info" data-target=@($"Action('DeleteBeerPosting','PostingController', {postHist.BeerPostingID})")>Delete</button></li>*@
                        <li> @Ajax.ActionLink("Delete", "DeleteBeerPosting/" + postHist.BeerPostingID, "Posting", new AjaxOptions { }) </li>
                    </ul>
                </div>
                <button class="btn btn-info" data-toggle="modal" data-target=@($"#editing-modal{postHist.BeerPostingID}")>Edit Posting</button>
                <div class="posts">
                    <ul class="center"></ul>
                </div>
                <div class="post-footer"></div>
            </div>
        }
    </div>
</div>

