@model IEnumerable<Beerswap.Models.Swap>
@{
    ViewBag.Title = "Swaps";
}

<div class="the-light-beer">
    <img src="../images/light_beer-fittyper.jpg" />
</div>

<div id="swapList" class="green container-fluid">
    <div class="row see-swaps indiv-swaps">
        @foreach (var swapping in Model)
        {
            <div class="swap-wrapper indiv-swaps">
                @*<div class="">@swapping.SwapId</div>
                  <div class="">@swapping.BeerPostingID</div>*@
                <div class=" beer-name">Beer Posted: @swapping.BeerName</div>
                <div class=" beer-name">Beer Offered: @swapping.BeerOffered</div>
                @*<div class="">@swapping.OfferUserId</div>
                    <div class="">@swapping.OwnerId</div>*@
                <div class="">Qty Offered @swapping.QtyOffered</div>
                <div class="">Qty Wanted @swapping.QtyWanted</div>
                @*<div>Offer User: @swapping.OfferUserId.</div>*@
                <div class="">Swap Offer Date @swapping.SwapDate</div>
                <div class="">Swap Accepted? @swapping.AcceptSwap</div>
                <div class="accept-link"> @Ajax.ActionLink("Accept Swap", "AcceptSwapOffer/" + swapping.SwapId, "Posting", new AjaxOptions { }) </div>
                <div class="swaps">
                    <ul class="center"></ul>
                </div>
                <div class="swap-footer"></div>
            </div>
        }
    </div>
</div>