@model IEnumerable<Beerswap.Models.Swap>
@{
    ViewBag.Title = "Swaps";
}

<div id="swapList" class="green container-fluid">
    <div class="row" style="display:inline-flex;">
        @foreach (var swapping in Model)
        {
            <div class="swap-wrapper">
                <div class="brellolist-header">@swapping.SwapId</div>
                <div class="brellolist-header">@swapping.BeerPostingID</div>
                <div class="brellolist-header">@swapping.BeerName</div>
                <div class="brellolist-header">@swapping.BeerOffered</div>
                <div class="brellolist-header">@swapping.OfferUserId</div>
                <div class="brellolist-header">@swapping.OwnerId</div>
                <div class="brellolist-header">@swapping.QtyOffered</div>
                <div class="brellolist-header">@swapping.QtyWanted</div>
                <div class="brellolist-header">@swapping.SwapDate</div>
                <div class="brellolist-header">@swapping.AcceptSwap</div>
                <div> @Ajax.ActionLink("Accept Swap", "AcceptSwapOffer", "Posting", @swapping.SwapId, new AjaxOptions { UpdateTargetId = "swapOffer" + swapping.SwapId }, "GET") </div>
                <button class="btn btn-info" onclick=("AcceptSwapOffer", "Posting", @swapping.SwapId)>Accept Swap</button>
                <div class="swaps">
                    <ul class="center"></ul>
                </div>
                <div class="swap-footer"></div>
            </div>
        }
    </div>
</div>